
body {background-color:#393532;
        margin: 0;
    }

header {
    background-color: #282424;
    width: 100%;
    overflow: hidden;
    border-bottom: #63605e 3px solid;
}
h1 {
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif; font-size: 36pt; 
    font-weight: bold; text-align: center; color:#ebc3b6; 
    text-transform:uppercase;
    letter-spacing: .5em;
}
a.one {color:#ebc3b6; 
    text-decoration: none; 
}
h3{
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif;
    font-size: 16pt;
    text-decoration: underline;
    text-align: center;
    color:#ebc3b6;
    letter-spacing: .25em;
}
figcaption:first-letter {
    font-size: 300%;
}
figcaption{
    margin-top: 30px;
    border: #63605e 2px solid;
    background-color:#282424;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    transition: 0.3s;
}
p.caption {
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif;
    font-weight: lighter;
    color:#ebc3b6;
    font-size: 12pt;
    word-spacing: .20em;
    letter-spacing: .125em;
    line-height: 1.25em;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
a.more {
    color:#ada39e; 
    font-weight: lighter;
    font-family: 'Michroma', 'Verdana', sans-serif;
    font-size: 8pt;
    text-decoration: none;
}
a.more:hover {
    color: #ebc3b6;text-decoration: underline;
}
#image-gallery{
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
}
img{
    width: 400px; height: 400px;
    border: #63605e 2px solid;
}
a.two
{
    color:#ada39e; 
    font-weight: lighter;
    font-family: 'Michroma', 'Verdana', sans-serif;
    font-size: 100%;
    text-decoration: none;
    float: right;
    margin-right: 2%;

}
a.two:hover {
    color: #ebc3b6;
    text-decoration: underline;
}
footer{
    background-color: #2f2c2c;
    width: 100%;
    bottom: 0; 
}
#footer-text{
    font-weight: lighter;
    font-size: 80%;
    margin-left: 2%;
    color: #ada39e;
    bottom: 0;
}