
body {background-color:#393532;}
h1 {
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif; font-size: 36pt; 
    font-weight: bold; text-align: center; color:#ebc3b6; 
    text-transform:uppercase;
    letter-spacing: .5em;
}
h3{
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif;
    font-size: 16pt;
    text-decoration: underline;
    text-align: center;
    color:#ebc3b6;
    letter-spacing: .25em;
}
figcaption:first-letter {
    font-size: 300%;
}
figcaption{
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif;
    margin-top: 40px;
    font-weight: lighter;
    color:#ebc3b6;
    font-size: 12pt;
    word-spacing: .20em;
    letter-spacing: .125em;
    line-height: 1.25em;

}
a.more {
    color:#ada39e; 
    font-weight: lighter;
    font-family: 'Michroma', 'Verdana', sans-serif;
    font-size: 8pt;
    text-decoration: none;
}
#back {
    float: right;
}
a.two
{
    color:#ada39e; 
    font-weight: lighter;
    font-family: 'Michroma', 'Verdana', sans-serif;
    font-size: 8pt;
    text-decoration: none;
    letter-spacing: normal;
}
a:hover {
    color: #ebc3b6
}
footer{
    font-weight: lighter;
    font-size: 80%;
    float: bottom;
    color: #ada39e;
}
#image-gallery{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}
img{
    width: 400px; height: 400px;
}