body {background-color:rgb(231, 96, 45) ;
background-image: url("Images/Sean Portrait.png");
background-size: 100%;
background-position: 50% 15%;
}
h1 {
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif; font-size: 36pt; 
    font-weight: bold; text-align: center; color: black; 
    text-transform:uppercase;
    letter-spacing: .5em;
}
li{
    font-family:'Cinzel', 'Old Standard TT', 'Georgia', serif;
    list-style-type: none; letter-spacing: .25em;
    font-size: 12pt;
    display: inline;
    font-weight: bold;
}
div.navigation{
    float: right;
    width: 250px;
    height: 50px;
    border-top:#891d1a 2px solid;
    border-bottom: #891d1a 1px solid;
    word-spacing: 1em;
    margin-right: 350px;
}
a.one
{color:rgb(41, 20, 20); 
    text-decoration: none; 
}
a:visited {
    color:rgb(41, 20, 20)
}
a:hover {
    color:#891d1a
}
blockquote {float:left; font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic; line-height: 1.5em;
    padding-right: 40px; margin: 100px 0px 20px 100px;
}
a.two
{
    color:rgb(41, 20, 20); 
    font-weight: lighter;
    font-family: 'Michroma', 'Verdana', sans-serif;
    font-size: 8pt;
    text-decoration: none;
    padding-right: 40px;
    letter-spacing: normal;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
footer{
    font-weight: lighter;
    font-size: 80%;
    padding-right: 40px;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

