body {background-color:rgb(231, 96, 45) ;
background-image: url("images/Sean Portrait.png");
background-position: 50% 5%;
}
h1 {
    font-family: 'Cinzel', 'Old Standard TT', 'Georgia', serif; font-size: 48pt; 
    font-weight: bold; text-align: center; color: black; 
    text-transform:uppercase;
    letter-spacing: .5em;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0PX AUTO 0PX AUTO;
    border-top:#891d1a 2px solid;
    border-bottom: #891d1a 1px solid;
    text-align: center;
    word-spacing: 5em;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none; letter-spacing: .15em;
    display: inline; margin: 0px 3px;
}
h2 {font-family: 'Michroma', 'Verdana', sans-serif; font-size: 12pt; 
    font-weight: normal; text-align: left; color: rgb(41, 20, 20); 
    margin-left: 50px; line-height: 2em;

}
a:link {color:rgb(41, 20, 20); font-family:'Cinzel', 'Old Standard TT', 'Georgia', serif;
    font-size: 18pt; letter-spacing: .25em; 
    font-weight: bold;
    text-decoration: none; }
a:visited {color:rgb(41, 20, 20)}
a:hover {color:#891d1a}
blockquote {float:right; font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic; line-height: 1.5em;
    padding-right: 40px; margin: 0px 0px 20px 20px;

}

